.navUl {
  position: fixed;
  top:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding:1rem;
  margin: 0;
  background-color: rgb(234, 239, 240);
  font-style: italic;
  font-size: 1.1rem;
}

.navLi {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #007bff;
}