h2 
{
    border-style:solid;
    border-width:thick;
}

.loading {
      color: pink;
    }

h1 {
  color: #FFE4C4;
  font-size: 48px;


} 

body
{
    background-image: url('61727_tumb_1200X768.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.blue-square {
  background-color: rgb(0, 191, 255);
  width: 400px;
  height: 400px;
  font-size: 36px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-square {

  background-color: white;
  font-size: medium;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-arrow {
  color: rgb(0, 191, 255);
  font-size: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: left;

}


.horizontal-line {
  width: 10000px;             
  height: 2px;             
  background-color: grey; 
 /* margin: 20px auto; 8*/
  margin-top: 5px;  
   
}

.title-text {
  color: rgb(0, 191, 255);
  font-weight: bold;
  margin-left: 8px;
  text-decoration: underline;
}