.ProductLi {
 display:inline-flex;
  flex-direction: row;
  align-items:flex-start;
  text-align: left;
  width: auto;
  height: auto;
  padding: 2rem;
  margin: 1rem;
  margin-top:1rem;
  border: 0.125rem solid wheat;
  border-radius: 0.8rem;
  background-color: #e1e6e9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.Img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  
}
.inCart{
  color:green;
}
.notInCart{
   color:red;
}