.cart{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap:1.5rem;
  border-style: solid black;
  margin-top:2.5rem;
}

.cartItem{
  background-color: #e9e1e1;
  border-style: solid black;
  border-radius: 1.6rem;
  padding: 2.5rem;
  width: 15.625rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 1);
}
