#root {
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin:20px 0;
    font-family:italic;
    font-size: 20px; 
}

nav li
{
  margin:0 15px;
}

.Ul {
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500;
    height: 500;
    padding:0;
    max-width: px;
}

.Li {
    justify-content:center;
    text-align: center;
    display: inline-block;
    width: 500;
    margin: 30px;
    height: 500;
    text-align: center;
    border-radius: 5px;
    border: solid wheat;
    box-sizing: border-box;

}


nav a {
    text-decoration: none;
    color: #333;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

